{# template.html #}
{% import 'macros/ux.html' as ux %}
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>WHMCS - Aflexi CDN Plugin - {% block title %}{% endblock %}</title>
{% block head %}
{% endblock %}
</head>
<body>
<div id="pageheader">
<div id="breadcrumbs">
    <p>
        <a href="addonmodules.php">Main</a>
        &nbsp;&gt;&gt;&nbsp;
        <a href="addonmodules.php?module=aflexi_cdn">Aflexi CDN</a>
        {% block breadcrumbs %}{% endblock %}
    </p>
</div>
</div>
<div id="content">
    {{ ux.dialog_info(info) }}
    {{ ux.dialog_error(errors) }}
    {% block content %}
    {% endblock %}
</div>
</body>
</html>